*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
   
}
.grid-container { 
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "menu"
    "footer";     
}
header{
    grid-area: header;
    background-color: #00579c; 
    height: 4rem; 
    display: flex; 
    padding-top: 1rem;
    width: 100%;
    justify-content: space-between;   
    flex-direction: column;  
    
}
.header-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.header-icon{
    display: flex;
    gap: 1rem;
    color: #ffff;
    padding-left: 1rem;
}
/*
ul{
    margin-bottom: 30rem;
    margin-left: 5rem;
}
li{
    padding: 0.5rem;
}*/

nav{
    grid-area: nav;
    background-color: aqua;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    height: 4rem;
    background-color: #e2e2e2;
    
    
}
input{
    width: 16rem;
    padding: 0.5em;
    border: none;
    border-radius: 3px;
}
input::placeholder {
    padding-left: 10px; 
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem;
    height: auto;
}

.card-1{
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 3px;  
    display: flex;
    /*flex-direction: column;*/
   /* justify-content: center;
    align-items: center; */  
    background-color: white;
    padding-top: 1rem;
    border-radius: 3px;
   /* border: solid 1px  #e2e2e2;*/
    
}

.card-1{
    border: solid 1px  #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    
}

.card img{
    border-radius: 5px;
    border: solid 1px #e2e2e2; 
    padding: 1rem ;
  
    height: auto;
}
.button-img{
    padding: 0.5rem;
    background-color: #00579c;
    color: #ffff;
    border: none;
    width: 5rem;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 0.5em;
}
.num-button{
    padding: 8px;
    gap: 0;
    margin: -2px;
    border: solid 1px #e2e2e2;
    width: 2rem;
    color: #020507;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
menu{
    grid-area: menu;
}
.button-container{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;

}/*
.card-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/
footer{
    grid-area: footer;
    background-color: #033761;
    color: #ffff;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 4rem;
    margin-top: auto;       
}
@media (min-width: 576px) {
    .grid-container{
        display: grid;
        grid-template-areas: 
        "header nav"
        "header main"
        "footer menu"
        ;
        grid-template-columns: 15em auto;
    }
    header{
        grid-area: header;
        height: auto;
        display: flex;
        
    }
    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;  
        gap: 10px;
    }
    input {
        width: 90%;
    }
    .card-1{
        width: 100%;
   }
   header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    height: 100%;
   }
   ul{
    list-style-type: none;
    margin-bottom: 33rem;
   
   }
   li{
    color: #ffff;
    padding: 0.5rem;
    
   }
   .ul{
    margin-top: 3rem;
   }
   
}

@media(max-width: 575px) {
    ul{
        display: none;
    }
}





/*

@media (min-width: 576px) {
    .grid-container{
        display: grid;
        grid-template-areas: 
        "header nav"
        "header main"
        "footer main"
        ;
       grid-template-columns: 15rem auto;
    }
   
    .card-desktop{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
    .card-mobile{
        display: none;
    }
    input {
        width: 90%;
    }
}


.navbar{
    grid-area: nav;
    
    padding: 1rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    height: 4rem;
    background-color: #e2e2e2;
}
main{
    grid-area: main;
    background-color: aquamarine;
}
footer{
    grid-area: footer;
    background-color: orange;
}
@media (min-width: 576px){
    .grid-container{
        display: grid;
        grid-template-areas:
        "header nav"
        "header main"
        "footer main"
     ;
        grid-template-columns: 15rem auto;
    }
}
.header-item{
    width: 100%;
    display: flex;
    gap: 10px;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
}   
header {
    grid-area: header;
    flex-direction: column;
    background-color: beige;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #00579c;
    color: #ffff;
}
    
   
.header-item{
    width: 100%;
    display: flex;
    gap: 10px;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
}
    /*
.nav-menu{

    display: flex;
    gap: 1em;
}
.navbar{
    grid-area: nav;
    
    padding: 1rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    height: 4rem;
    background-color: #e2e2e2;
}
input{
    width: 16rem;
    padding: 0.5em;
    border: none;
    border-radius: 3px;
}
input::placeholder {
    padding-left: 10px; 
}
main{
    grid-area: main;
    background-color: blueviolet;

}

.card{
   
    background-color: white;
    border-radius: 3px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background-color: white;
    padding-top: 1rem;
    border-radius: 3px;
    border: solid 1px  #e2e2e2;
    
}

.card img{
    border-radius: 5px;
    border: solid 1px #e2e2e2; 
    padding: 1rem ;
    width: 100%;
    height: auto;
}

.button-img{
    padding: 0.5rem;
    background-color: #00579c;
    color: #ffff;
    border: none;
    width: 5rem;
    border-radius: 3px;
    margin-top: 5px;
}
.num-button{
    padding: 8px;
    gap: 0;
    margin: -2px;
    border: solid 1px #e2e2e2;
    width: 2rem;
    color: #00579c;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
}
.card-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    grid-area: footer;
    background-color: #033761;
    color: #ffff;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 4rem;
    margin-top: auto;       
}
@media (min-width: 576px) {
    .grid-container{
        display: grid;
        grid-template-areas: 
        "header nav"
        "header main"
        "footer main"
        ;
        grid-template-columns: 15em auto;
    }
    header{
        grid-template-columns: ;
    }
    .card-desktop{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
    .card-mobile{
        display: none;
    }
    input {
        width: 90%;
    }
}




*//*
@media (max-width: 576px){
    .card-desktop{
        display: none;
    }
    ul{
        display: none;
    }
    aside{
        display: none;
    }
}



